WindowsFormsApp1/Web References/WTSWebReference/AuthorityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAuthToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuthTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuthTokenResult" type="tns:ResCommonModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResCommonModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="resFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="resMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="resCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="resData" />
          <s:element minOccurs="0" maxOccurs="1" name="resObj" type="tns:ArrayOfResCommonModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfResCommonModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ResCommonModel" nillable="true" type="tns:ResCommonModel" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAuthTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuthToken" />
  </wsdl:message>
  <wsdl:message name="GetAuthTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuthTokenResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthorityServiceSoap">
    <wsdl:operation name="GetAuthToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取令牌号</wsdl:documentation>
      <wsdl:input message="tns:GetAuthTokenSoapIn" />
      <wsdl:output message="tns:GetAuthTokenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthorityServiceSoap" type="tns:AuthorityServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuthToken">
      <soap:operation soapAction="http://tempuri.org/GetAuthToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthorityServiceSoap12" type="tns:AuthorityServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuthToken">
      <soap12:operation soapAction="http://tempuri.org/GetAuthToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthorityService">
    <wsdl:port name="AuthorityServiceSoap" binding="tns:AuthorityServiceSoap">
      <soap:address location="http://192.168.98.231:6081/WebService/AuthorityService.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthorityServiceSoap12" binding="tns:AuthorityServiceSoap12">
      <soap12:address location="http://192.168.98.231:6081/WebService/AuthorityService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>